@import 'variables';
@import '../../node_modules/include-media/dist/include-media';

@mixin link($color: $blue, $hover-color: $dark-gray) {
    color: $color;
    transition: color 0.2s ease;

    &:hover,
    &:active {
        color: $hover-color;
        transition: none;
    }
}

@mixin h1 {
    font-size: 30px;
    font-weight: bold;
}
@mixin h2 {
    font-size: 24px;
    font-weight: bold;
}