$white: #fff;
$black: #000;
$light-gray: #e5e5e5;
$gray: #808080;
$dark-gray: #333;
$blue: #00c;
$red: #c00;

$defaultFontFamily: 'Helvetica', 'Arial', sans-serif;
$defaultFontSize: 14px;
$defaultLineHeight: 1.2;
$defaultBackgroundColor: $white;
$defaultTextColor: $black;