$white: #fff;
$black: #000;
$light-gray: #e5e5e5;
$gray: #808080;
$dark-gray: #333;
$blue: #00c;
$red: #c00;

$default-font-family: 'Helvetica', 'Arial', sans-serif;
$default-font-size: 14px;
$default-line-height: 1.2;
$default-background-color: $white;
$default-text-color: $black;