@import '../../node_modules/reset-css/sass/reset';
@import './variables';

html,
body,
#root {
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
}

body{
    background-color: $default-background-color;
    color: $default-text-color;
    font-family: $default-font-family;
    font-size: $default-font-size;
    line-height: $default-line-height;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}