@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.title {
    @include h1;
}

.ideas {
    .idea {
        padding: 20px;
        border-bottom: 1px solid $light-gray;
        border-radius: 10px;
        & + .idea {
            margin-top: 20px;
        }
        .ideaTitle {
            @include h2;
            .ideaLink {
                @include link;
            }
        }
        .ideaDescription {
            font-size: 18px;
        }
    }
}